<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password Email</title>
</head>

<body>
    <p>Hello <%= locals.name %>,</p>
    <p>We received a request to reset your password. If you did not initiate this request, please ignore this email.</p>
    <p>To reset your password, click on the link below:</p>
    <p><a href="http://localhost:4000/api/reset-password-email?token=<%= locals.token %>">
            resetPasswordLink
        </a></p>
    <p>The link is valid for the next 24 hours.</p>
    <p>If you have any questions or need further assistance, please contact our support team.</p>
    <p>Thank you,</p>
    <p>Chat App</p>
</body>

</html>