<!-- views/verification-success.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Success</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <div class="container">
        <h1>Thank you for verifying your email!</h1>
        <p>Your email address has been successfully verified.</p>
        <img src="/success.png" alt="Success">
    </div>
</body>

</html>